In [ ]:
import pandas as pd
import numpy as np
tabla_1 = pd.read_excel("HUMDAD_DE_LIMA.xls")
tabla_1

In [59]:
tabla_2 = tabla_1.reindex([0,1,2,3,4,5,6,7,8,9,"MAXIMO","MINIMO","PROMEDIO"])
a = np.array([tabla_1.mean(),tabla_1.max(), tabla_1.min()])
tabla_2.values[-1],tabla_2.values[-2],tabla_2.values[-3] = a[0],a[1],a[2]
tabla_2

             AÑO   ENERO  FEBRERO  ...  OCTUBRE  NOVIEMBRE  DICIEMBRE
0         2009.0  81.750   77.880  ...   67.170     77.580     68.460
1         2010.0  85.040   77.130  ...   67.210     77.040     76.880
2         2011.0  88.420   72.630  ...   68.330     73.580     77.000
3         2012.0  86.080   72.420  ...   72.540     69.670     73.500
4         2013.0  85.250   76.500  ...   70.830     66.710     79.330
5         2014.0  86.540   83.710  ...   69.750     68.920     80.290
6         2015.0  84.000   77.540  ...   69.580     67.000     77.920
7         2016.0  85.960   76.630  ...   68.880     66.130     77.460
8         2017.0  87.750   81.750  ...   68.630     55.710     76.380
9         2018.0  85.330   80.250  ...   68.500     48.540     72.050
MAXIMO    2018.0  88.420   83.710  ...   72.540     77.580     80.290
MINIMO    2009.0  81.750   72.420  ...   67.170     48.540     68.460
PROMEDIO  2013.5  85.612   77.644  ...   69.142     67.088     75.927

[13 rows x 13 columns]